#example {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    position: relative;
    padding-top: 30px;
}

#example .toolbar {
    position: absolute;
    top: 0;
}

#example table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid black;
}

#example table tr {
    border: none;
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#example table tr:first-child {
    background: #f5f5f5;
    font-weight: bold;
}

#example table td {
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    border-right: none;
    word-break: break-all;
    line-height: 20px;
    height: 20px;
}
